.features{
  background-color: $features-color;
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../img/features-bg.svg");
  background-size: 200px 244px;
  background-position: left calc(50% + 760px) bottom 0;
  background-repeat: no-repeat;
}

.features__container{
  display: flex;
  justify-content: space-between;
}

.features__heading-box{
  max-width: 445px;
}

.features__heading{
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}
.features__heading::before{
  content: "";
  position: absolute;
  z-index: 1;
  top: -54px;
  width: 50px;
  height: 4px;
  display: block;
  background-color: #F67E7E;
}

.features__features-box{
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.features__list{
  padding: 0;
  margin: 0;
  list-style: none;
}

@media only screen and (max-width: 1150px){

  .features{
    background-position: right 0 top 0;
  }
}

@media only screen and (max-width: 1000px){

  .features{
    padding-top: 136px;
    padding-bottom: 100px;
  }

  .features__container{
    flex-direction: column;
    padding-right: 71px;
    padding-left: 71px;
  }

  .features__heading-box{
    margin-bottom: 64px;
  }

  .features__heading{
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 768px){

  .features{
    background-position: left calc(50% + 385px) top 0;
  }

  .features__container{
    padding-right: 98px;
    padding-left: 98px;
  }
}

@media only screen and (max-width: 525px){

  .features{
    padding-top: 100px;
    padding-bottom: 64px;
    background-position: right -31% top 0;
  }

  .features__container{
    padding-right: 24px;
    padding-left: 24px;
  }

  .features__heading-box{
    max-width: 240px;
  }
}

@media only screen and (max-width: 376px){

  .features{
    background-position: right -57% top 0;
  }
}