.features-list__item{
  max-width: 540px;
  display: flex;
  align-items: center;

  &:not(:last-child){
    margin-bottom: 32px;
  }

  &::before{
    content: "";
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    margin-right: 23px;
    background-size: 72px 72px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--first::before{
    background-image: url("../img/feature-1.svg");
  }
  &--second::before{
    background-image: url("../img/feature-2.svg");
  }
  &--third::before{
    background-image: url("../img/feature-3.svg");
  }
}

.stories-list__blockquote{
  padding-top: 36px;
  background-image: url("../../img/quote.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 67px 56px;
}

.features-list__heading{
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.features-list__text{
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.8;
}

@media only screen and (max-width: 376px){

  .features-list__item{
    flex-direction: column;
    text-align: center;

    &:not(:last-child){
      margin-bottom: 48px;
    }

    &:before{
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}