.site-header__sitenav{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.sitenav__list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sitenav__item:not(:last-child){
  margin-right: 40px;
}

.sitenav__link{
  text-decoration: none;
  color: #72787D;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}